@import "tailwindcss";

.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 
@keyframes moveGradient {
    0% { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
}/* 7a520d af730c */
.animated_white {
    background: linear-gradient(30deg, #97630a,#97630a,#db8f0c,#97630a,#97630a);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: moveGradient 5s linear infinite;
}


@layer componets {
  .first-btn{
    @apply bg-white/10 p-1 rounded-[6px] flex gap-1 items-center;
  }
  .second-btn{
    @apply bg-white/10 text-white/70 p-[6px] rounded-[6px] basis-sm border border-white/10
  }
  
}

@layer utilities{

}


.inter-200 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.inter-300 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
.inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
.inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}
.inter-800 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}